@import "tailwindcss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: var(--color-text-primary);
  font-family: var(--font-poppins), system-ui, sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: #0000fe;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0000cc;
  border-radius: 999px;
}

.container-custom {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
